numpy==2.2.5
pandas==2.2.3

# MIO solving for MSD
pyomo==6.9.2
highspy==1.10.0
# gurobipy==12.0.2 # tested version of Gurobi

# for demonstrations
jupyterlab==3.6.8
# US census data source
folktables==0.0.12
